<!--Carousel for Products page-->
<div>
  
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div  id ="blog-image" class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000" >
        <div class="carousel-caption d-none d-md-block">
        </div>
        <img src="assets/carousel1.jpg" class="d-block w-100 Image1" alt="" >
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/carousel2.jpg" class="d-block w-100 Image1" alt="">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/carousel3.jpg" class="d-block w-100 Image1" alt="">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
