<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!DOCTYPE html>
    <html>

    <!-- <head>
        <title>Form in HTML</title-->

        <!--CSS Functionalities on Bootstrap>
        <link rel="stylesheet" href="style/style2.css">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        

    

    </head -->

    <body>


        <div class="container">
            <form>
                <h1 id="heading"> Send a Message</h1>
                
                <div>
                    <label for="username">Name</label>
                    <input required type="text" name="username" class="form-control" placeholder="Enter your Name...">
                </div>
                <br>


                <div>
                    <label for="email">Email</label>
                    <input required type="text" name="email" class="form-control" placeholder="name@example.com">
                </div>
                <br>

                <div>
                    <label for="userId">Subject</label>
                    <input required type="text" name="subject" class="form-control" placeholder="Enter your Subject">
                </div>
                <br>

                <div>
                    <label for="password">Message</label>
                    <textarea  name="textarea" rows="5"  class="form-control" placeholder="Enter your mesage" ></textarea>
                
                </div>

                <br>
                <br>

                <button class="btn btn-primary" type="submit">Submit</button>
                
            </form>
        </div>
    </body>
    </html>
</body>

</html>