img{
    margin-top: 20px;
    height: 200px;
    width: 200px;
}
#about{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#items{
    list-style-type: none;
    align-items: center;
}
#item-odd
{
    margin-left:50%;
    
}
#item-even
{
    margin-right:50%;
    text-align: right;
    
}