<div class="container">
  <div class="row">
    <div class="small-container">
      <app-carousal-prod></app-carousal-prod>
          <h2 class="title">Historical Blogs</h2>
          <div class="row">
            <div class="col-4">
              <div class="book">
                <button class="btn btn-primary">Read Now</button>
                <div class="cover">
                  <img src="assets/blog 1.jpg" alt=""/> 
                </div>
               </div>        
               <h4>Behind the Scenes of World War-II</h4> 
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>

            <div class="col-4">
              <div class="book">
                <button class="btn btn-primary">Read Now</button>
                <div class="cover">
                  <img src="assets/blog 2.jpg" alt=""/> 
                </div>
               </div>        
               <h4>Do newspapers tell the truth ?</h4> 
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>

            <div class="col-4">
              <div class="book">
                <button class="btn btn-primary">Read Now</button>
                <div class="cover">
                  <img src="assets/blog 3.jpg" alt=""/> 
                </div>
               </div>        
               <h4>Things to learn from the French Revolution</h4> 
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>

            <div class="col-4">
              <div class="book">
                <button class="btn btn-primary">Read Now</button>
                <div class="cover">
                  <img src="assets/blog 4.jpg" alt=""/> 
                </div>
               </div>        
               <h4>Who actually set foot on the Moon first?</h4> 
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>


            <h2 class="title">Other Genres</h2>
            <div class="row">

            <div class="col-4">
              <div class="book">
                <button class="btn btn-primary">Read Now</button>
                <div class="cover">
                  <img src="assets/blog 5.jpg" alt=""/> 
                </div>
               </div>        
               <h4>Revolutionizing Industries: Exploring the Latest Breakthroughs in Technologies</h4> 
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>

            <div class="col-4">
              <div class="book">
                <button class="btn btn-primary">Read Now</button>
                <div class="cover">
                  <img src="assets/blog 6.jpg" alt=""/> 
                </div>
               </div>        
               <h4>The Future is Now: Unveiling the Hottest Technological Advancements of 2023</h4> 
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>

            <div class="col-4">
              <div class="book">
                <button class="btn btn-primary">Read Now</button>
                <div class="cover">
                  <img src="assets/blog 7.jpg" alt=""/> 
                </div>
               </div>        
               <h4>From AI to Quantum Computing: A Deep Dive into the Cutting-Edge Technologies of 2023</h4> 
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>

            <div class="col-4">
              <div class="book">
                <button class="btn btn-primary">Read Now</button>
                <div class="cover">
                  <img src="assets/blog 8.jpg" alt=""/> 
                </div>
               </div>        
               <h4>Tech Trends to Watch: The Top Four Innovations Shaping the Digital Landscape in 2023</h4> 
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>

            <div class="col-4">
              <div class="book">
                <button class="btn btn-primary">Read Now</button>
                <div class="cover">
                  <img src="assets/blog 9.jpg" alt=""/> 
                </div>
               </div>        
               <h4>Blog Title</h4> 
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>

            <div class="col-4">
              <div class="book">
                <button class="btn btn-primary">Read Now</button>
                <div class="cover">
                  <img src="assets/blog 10.jpg" alt=""/> 
                </div>
               </div>        
               <h4>Blog Title</h4> 
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>

            <div class="col-4">
              <div class="book">
                <button class="btn btn-primary">Read Now</button>
                <div class="cover">
                  <img src="assets/blog 11.jpg" alt=""/> 
                </div>
               </div>        
               <h4>Blog Title</h4> 
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>

            <div class="col-4">
              <div class="book">
                <button class="btn btn-primary">Read Now</button>
                <div class="cover">
                  <img src="assets/blog 12.jpg" alt=""/> 
                </div>
               </div>        
               <h4>Blog Title</h4> 
              <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>